# Data preparation
prepare the dataFrame to use in next two section (question 1 and 2)

In [83]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [84]:
# read the data stored in csv files
tickets = pd.read_csv("data/ticket_data.csv")
cities = pd.read_csv("data/cities.csv")
providers = pd.read_csv("data/providers.csv")
stations = pd.read_csv("data/stations.csv")

## Merging 
in this subpart we merge all tables we have in one data frame

##### 1- providers
here we merge tickets and providers (based on company id in both sides)

i- add suffixes to providers columns

ii- merge the result with cities => result dataframe with informations about tickets & companies

In [85]:
# add suffix to all columns of providers 
# because the attribute suffix of the merge function used just in case of overlapping
providers.columns = providers.columns.map(lambda x: str(x) + '_PVD')

In [86]:
providers.columns

Index(['id_PVD', 'company_id_PVD', 'provider_id_PVD', 'name_PVD',
       'fullname_PVD', 'has_wifi_PVD', 'has_plug_PVD',
       'has_adjustable_seats_PVD', 'has_bicycle_PVD', 'transport_type_PVD'],
      dtype='object')

In [87]:
#join tickets with providers to have informations about the provider type name ...
data_0 = tickets.merge(providers,how='left',left_on='company', right_on='company_id_PVD', suffixes=('','_PVD'))

In [88]:
data_0.head()

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,...,id_PVD,company_id_PVD,provider_id_PVD,name_PVD,fullname_PVD,has_wifi_PVD,has_plug_PVD,has_adjustable_seats_PVD,has_bicycle_PVD,transport_type_PVD
0,6795025,8385,NaN,NaN,2017-10-13 14:00:00+00,2017-10-13 20:10:00+00,4550,2017-10-01 00:13:31.327+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,16.0,9.0,NaN,distribusion,Distribusion,False,False,False,False,bus
2,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,17.0,9.0,31,expressbusMunchen,Expressbus Munchen,False,False,False,False,bus
3,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,18.0,9.0,33,berlinLinienBus,Berlin Linien Bus,False,False,False,False,bus
4,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,19.0,9.0,37,ostfrieslandexpress,OstfrieslandExpress,False,False,False,False,bus

##### 2 - cities
Merge the cities table with the result<br>
=> first : merge/join on **o_city**<br>
=> second : merge/join on **d_city**

$First$

In [89]:
cities.dtypes

id               int64
local_name      object
unique_name     object
latitude       float64
longitude      float64
population     float64
dtype: object

In [90]:
# suffix to cities columns
# 
O_cities = cities.copy()
O_cities.columns = O_cities.columns.map(lambda x: str(x) + '_OCT')

In [91]:
O_cities.columns

Index(['id_OCT', 'local_name_OCT', 'unique_name_OCT', 'latitude_OCT',
       'longitude_OCT', 'population_OCT'],
      dtype='object')

In [92]:
# merge the first result with cities so we will have informations about the cities 
data_1 = data_0.merge(O_cities,how='left',left_on='o_city', right_on='id_OCT', suffixes=('','_OCT'))

$Second$

In [93]:
# add suffixs to cities column 
D_cities = cities.copy() #make a copy of the table so do not impact the original table cities
D_cities.columns = D_cities.columns.map(lambda x: str(x) + '_DCT')

In [94]:
D_cities.columns

Index(['id_DCT', 'local_name_DCT', 'unique_name_DCT', 'latitude_DCT',
       'longitude_DCT', 'population_DCT'],
      dtype='object')

In [95]:
# an other merge to have informations about the destination city
data_10 = data_1.merge(D_cities,how='left',left_on='d_city', right_on='id_DCT', suffixes=('','_DCT'))

In [96]:
data_10.head()

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,...,unique_name_OCT,latitude_OCT,longitude_OCT,population_OCT,id_DCT,local_name_DCT,unique_name_DCT,latitude_DCT,longitude_DCT,population_DCT
0,6795025,8385,NaN,NaN,2017-10-13 14:00:00+00,2017-10-13 20:10:00+00,4550,2017-10-01 00:13:31.327+00,NaN,NaN,...,orleans,47.907018,1.90627,114977.0,542,"Montpellier, Occitanie, France",montpellier,43.604452,3.918318,275318.0
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,orleans,47.907018,1.90627,114977.0,542,"Montpellier, Occitanie, France",montpellier,43.604452,3.918318,275318.0
2,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,orleans,47.907018,1.90627,114977.0,542,"Montpellier, Occitanie, France",montpellier,43.604452,3.918318,275318.0
3,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,orleans,47.907018,1.90627,114977.0,542,"Montpellier, Occitanie, France",montpellier,43.604452,3.918318,275318.0
4,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,orleans,47.907018,1.90627,114977.0,542,"Montpellier, Occitanie, France",montpellier,43.604452,3.918318,275318.0

##### Stations
Merge the stations dataframe with the result data above on two parts just like cities

$First$<br>
=> Merge on **o_station** (destination station)

In [97]:
O_stations = stations.copy()
O_stations.columns = O_stations.columns.map(lambda x: str(x) + '_OST')

In [98]:
O_stations.columns

Index(['id_OST', 'unique_name_OST', 'latitude_OST', 'longitude_OST'], dtype='object')

In [99]:
# suffix _OST refer to (origin sattion)
data_2 = data_10.merge(O_stations,how='left',left_on='o_station', right_on='id_OST')

$second$<br>
=> Merge on **d_station** (destination station)

In [100]:
D_stations = stations.copy()
D_stations.columns = D_stations.columns.map(lambda x: str(x) + '_DST')

In [101]:
D_stations.columns

Index(['id_DST', 'unique_name_DST', 'latitude_DST', 'longitude_DST'], dtype='object')

In [102]:
data_20 = data_2.merge(D_stations,how='left',left_on='d_station', right_on='id_DST')

# Result

In [103]:
data_20.shape

(786258, 42)

## Calculate duration

In [104]:
# String to datetime
data_20.departure_ts = pd.to_datetime(data_20['departure_ts'], format="%Y-%m-%d %H:%M:%S")
data_20.arrival_ts = pd.to_datetime(data_20['arrival_ts'], format="%Y-%m-%d %H:%M:%S")

In [105]:
data_20.departure_ts[0] -  data_20.arrival_ts[0]

Timedelta('-1 days +17:50:00')

In [106]:
data_20['duration'] = data_20.arrival_ts - data_20.departure_ts

In [107]:
data_20.columns

Index(['id', 'company', 'o_station', 'd_station', 'departure_ts', 'arrival_ts',
       'price_in_cents', 'search_ts', 'middle_stations', 'other_companies',
       'o_city', 'd_city', 'id_PVD', 'company_id_PVD', 'provider_id_PVD',
       'name_PVD', 'fullname_PVD', 'has_wifi_PVD', 'has_plug_PVD',
       'has_adjustable_seats_PVD', 'has_bicycle_PVD', 'transport_type_PVD',
       'id_OCT', 'local_name_OCT', 'unique_name_OCT', 'latitude_OCT',
       'longitude_OCT', 'population_OCT', 'id_DCT', 'local_name_DCT',
       'unique_name_DCT', 'latitude_DCT', 'longitude_DCT', 'population_DCT',
       'id_OST', 'unique_name_OST', 'latitude_OST', 'longitude_OST', 'id_DST',
       'unique_name_DST', 'latitude_DST', 'longitude_DST', 'duration'],
      dtype='object')

# Part I
## Price Min, Max, Mean

In [108]:
data_ex1 = data_20[['price_in_cents','local_name_OCT','unique_name_OCT','local_name_DCT','unique_name_DCT','unique_name_OST','unique_name_DST','duration',]]

In [109]:
# data_20[['local_name_OCT','unique_name_OCT','local_name_DCT','unique_name_DCT','unique_name_OST','unique_name_DST','duration']]

In [110]:
price_mean = data_ex1.groupby(['unique_name_OCT','unique_name_DCT'])['price_in_cents'].mean()/100

In [111]:
price_min = data_ex1.groupby(['unique_name_OCT','unique_name_DCT'])['price_in_cents'].min()/100

In [112]:
price_max = data_ex1.groupby(['unique_name_OCT','unique_name_DCT'])['price_in_cents'].max()/100

In [113]:
result_1 = pd.DataFrame(price_mean)

In [114]:
result_1['price_min'] = price_min
result_1['price_max'] = price_max

In [115]:
result_1.columns = ["AVG_price","price_MIN","price_MAX"]

In [116]:
result_1.head()

                                           AVG_price  price_MIN  price_MAX
unique_name_OCT       unique_name_DCT
aeroport-paris-vatry- troyes               53.000000       53.0       53.0
agde                  amsterdam           203.200000      186.0      220.0
agen                  dijon               117.550000       98.6      136.5
                      marseille            40.426667       20.0       89.2
                      marseille-aeroport   38.333333       37.0       40.5

## Duration max, min, mean

In [117]:
min_dur = data_ex1.groupby(['unique_name_OCT','unique_name_DCT'])['duration'].min()
max_dur = data_ex1.groupby(['unique_name_OCT','unique_name_DCT'])['duration'].max()

In [118]:
# add a duration column in seconds to do not have big numbers 
data_ex1['duration_seconds'] = data_ex1['duration'].dt.total_seconds()

# calcul the average duration and transform it to timeDelta format ;) 
avg_dur = data_ex1.groupby(['unique_name_OCT','unique_name_DCT'])['duration_seconds'].mean()
avg_dur = pd.to_timedelta(avg_dur, unit='s')

In [119]:
result_1['min_dur'] = min_dur
result_1['max_dur'] = max_dur
result_1['avg_dur'] = avg_dur

In [120]:
result_1.head(20)

                                           AVG_price  price_MIN  price_MAX  \
unique_name_OCT       unique_name_DCT
aeroport-paris-vatry- troyes               53.000000       53.0       53.0
agde                  amsterdam           203.200000      186.0      220.0
agen                  dijon               117.550000       98.6      136.5
                      marseille            40.426667       20.0       89.2
                      marseille-aeroport   38.333333       37.0       40.5
                      paris                27.975000       26.0       31.9
                      toulouse              8.646269        7.0       24.2
aix-en-provence       angers               51.900000       50.9       52.9
                      annecy               26.300000       20.0       32.8
                      annemasse            34.875000       31.0       39.5
                      clermont-ferrand     64.052381       23.9      107.4
                      geneve               32.390909       26.5       37.0
                      la-rochelle          43.893939       16.0       71.0
                      lille                54.402165       48.9      160.0
                      lyon                 25.013298       14.0       65.0
                      metz                 95.580000       27.9      176.0
                      nice                 24.754167       11.0       46.0
                      paris                27.691281       16.0      149.0
                      perpignan            20.200000       12.0       25.0
                      saint-raphael        25.169565       14.0       34.9

                                          min_dur         max_dur  \
unique_name_OCT       unique_name_DCT
aeroport-paris-vatry- troyes             21:55:00 0 days 21:55:00
agde                  amsterdam          08:53:00 0 days 15:54:00
agen                  dijon              12:24:00 0 days 15:01:00
                      marseille          05:36:00 0 days 12:20:00
                      marseille-aeroport 05:00:00 0 days 08:00:00
                      paris              09:40:00 0 days 14:30:00
                      toulouse           01:00:00 0 days 04:11:00
aix-en-provence       angers             14:35:00 0 days 15:10:00
                      annecy             21:45:00 1 days 02:45:00
                      annemasse          04:40:00 0 days 05:40:00
                      clermont-ferrand   04:06:00 1 days 07:40:00
                      geneve             04:00:00 0 days 20:15:00
                      la-rochelle        08:00:00 1 days 18:40:00
                      lille              04:31:00 1 days 14:50:00
                      lyon               03:00:00 0 days 20:35:00
                      metz               06:50:00 0 days 11:50:00
                      nice               01:40:00 0 days 11:01:00
                      paris              04:03:00 1 days 05:05:00
                      perpignan          03:50:00 0 days 19:30:00
                      saint-raphael      02:23:00 1 days 10:04:00

                                                        avg_dur
unique_name_OCT       unique_name_DCT
aeroport-paris-vatry- troyes                    0 days 21:55:00
agde                  amsterdam                 0 days 10:18:48
agen                  dijon                     0 days 13:42:30
                      marseille                 0 days 08:17:24
                      marseille-aeroport        0 days 05:50:00
                      paris                     0 days 12:10:00
                      toulouse           0 days 01:19:54.626865
aix-en-provence       angers                    0 days 14:52:30
                      annecy                    1 days 00:09:00
                      annemasse                 0 days 04:57:30
                      clermont-ferrand   0 days 11:26:25.714285
                      geneve                    0 days 06:25:00
                      la-rochelle        0 days 15:57:34.545454
                      lille              0 days 19:24:50.129870
                      lyon               0 days 03:59:28.085106
                      metz                      0 days 08:51:36
                      nice               0 days 03:51:37.500000
                      paris              0 days 11:15:41.011840
                      perpignan                 0 days 12:26:15
                      saint-raphael      0 days 07:43:05.217391

# Part II

In [121]:
data_20.transport_type_PVD.value_counts()

bus           715569
train             90
carpooling         5
Name: transport_type_PVD, dtype: int64

In [122]:
data_ex2 = data_20.copy()

In [123]:
stations.columns

Index(['id', 'unique_name', 'latitude', 'longitude'], dtype='object')

In [124]:
import numpy as np
def haversine_distance(lat1, lon1, lat2, lon2):
    #calculate distance using latitude and longitude
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2 - lat1)
   delta_lambda = np.radians(lon2 - lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))
   return np.round(res, 2)

In [125]:
data_ex2.columns

Index(['id', 'company', 'o_station', 'd_station', 'departure_ts', 'arrival_ts',
       'price_in_cents', 'search_ts', 'middle_stations', 'other_companies',
       'o_city', 'd_city', 'id_PVD', 'company_id_PVD', 'provider_id_PVD',
       'name_PVD', 'fullname_PVD', 'has_wifi_PVD', 'has_plug_PVD',
       'has_adjustable_seats_PVD', 'has_bicycle_PVD', 'transport_type_PVD',
       'id_OCT', 'local_name_OCT', 'unique_name_OCT', 'latitude_OCT',
       'longitude_OCT', 'population_OCT', 'id_DCT', 'local_name_DCT',
       'unique_name_DCT', 'latitude_DCT', 'longitude_DCT', 'population_DCT',
       'id_OST', 'unique_name_OST', 'latitude_OST', 'longitude_OST', 'id_DST',
       'unique_name_DST', 'latitude_DST', 'longitude_DST', 'duration'],
      dtype='object')

In [126]:
# test 
# haversine_distance(48.952510, 2.291235, 48.971406, 2.337341)

### Calculate the distances between stations 
* Get the distances between stations for every path
* Find the intervals and make a new column

In [127]:
# calculate distance of paths (between cities or between stations)
#
data_ex2['distance'] = data_ex2.apply(lambda x: haversine_distance(x.latitude_OST,x.longitude_OST, x.latitude_DST,x.longitude_DST), axis=1)

In [128]:
# data_ex2

In [129]:
def intervale_dist(x):
    if (x<=200) : result = "0-200KM"
    elif (x<=800) : result = "200-800KM"
    elif (x<=2000) : result = "800-2000KM"
    else : result = result = "2000+KM"
        
    return result

In [130]:
intervale_dist(1000)

'800-2000KM'

In [131]:
data_ex2['distance_inter'] = data_ex2['distance'].map(lambda x: intervale_dist(x))

In [132]:
# data_ex2.columns

### Application 
**Avreage price**

In [133]:
avg_price = data_ex2.groupby(['transport_type_PVD','distance_inter'])['price_in_cents'].mean()/100

In [134]:
# add a duration column in seconds to do not have big numbers 
data_ex2['duration_seconds'] = data_ex2['duration'].dt.total_seconds()

# calcul the average duration and transform it to timeDelta format ;) 
avg_duration = data_ex2.groupby(['transport_type_PVD','distance_inter'])['duration_seconds'].mean()
avg_duration = pd.to_timedelta(avg_duration, unit='s')

In [135]:
result_2 = pd.DataFrame(avg_duration)
result_2['avg_price'] = avg_price

In [136]:
result_2.columns = ["AVG_Duration","AVG_price"]

In [137]:
result_2

                                            AVG_Duration  AVG_price
transport_type_PVD distance_inter
bus                0-200KM        0 days 11:12:43.250883  19.671908
                   200-800KM      0 days 14:04:56.186252  33.971450
                   800-2000KM     1 days 00:25:07.009345  61.127103
carpooling         0-200KM               0 days 14:15:00  19.900000
                   200-800KM             0 days 10:36:15  43.385000
train              200-800KM      0 days 12:42:13.333333  32.655556

 ## <font color=red>Note !!</font>
 Please note that I did not manage NaNs, they are excluded by the groupBy operation